{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="col-md-7">
            <i class="fas fa-chart-bar pr-icon"></i>
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Категории</h6>
                {%  if lastDate %}
                <small>Последнее
                обновление: {{ lastDate| date("d.m.Y") }}
                </small>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <a href="{{ path('get-categories') }}" type="button" class="btn btn-success">Обновить категории</a>
            <a href="{{ path('delete-categories') }}" type="button" class="btn btn-danger">Очистить таблицу</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Id Epn</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{{ path('get-products-of-this-category', {idCategory: category.idEpn}) }}">
                    {{ category.name| truncate }}
                    </a>
                </td>
                <td>
                    {{ category.idEpn }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}