{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="col-md-7">
            <i class="fas fa-box-open pr-icon"></i>
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Товары</h6>
                {% if lastDate %}
                    <small>Последнее
                        обновление: {{ lastDate| date("d.m.Y") }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <a href="{{ path('categories') }}" type="button" class="btn btn-success">Обновить товары</a>
            <a href="{{ path('delete-products') }}" type="button" class="btn btn-danger">Очистить таблицу</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Изображение</th>
            <th>Цена</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="/create-post/{{ product.id }}" class="edit">
                        {{ product.name| truncate }}
                    </a>
                </td>
                <td>
                    <img src="{{ product.picture }}" alt="..." class="img-thumbnail" id="img-product" width="50"
                         height="50">
                </td>
                <td>
                    {{ product.salePrice }}
                </td>
                <td>
                    {% if product.status == 'wait' %}
                    <span style="color:red;font-weight: bold">
                    {% elseif product.status == 'post' %}
                    <span style="color:green;font-weight: bold">
                    {% elseif product.status == 'check' %}
                    <span style="color:blue;font-weight: bold">
                    {% endif %}
                        {{ product.status }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


